#root {
  height: var(--full-viewport-height);
  margin: 0 auto;
  text-align: center;
  
}

body{
  background-color:#ECEEF8;
}


.menu{
background-color: white;
height:650px;
width:250px;
margin-right:20px;
border: 1px solid #1F1F1F1A;
border-radius: 12px;

}


.dashboard{
  width:1200px;
  height:650px;
  background-color: white;
  border: 1px solid #1F1F1F1A;
  border-radius: 12px;
  text-align: left;
  /* padding:30px 30px; */
}

.login{
   
    background: linear-gradient(350.13deg, #a2b9f3 6.15%, #164EDE 94.61%);

    height:636px;
    width:1436px;
    border-radius: 15px;
  
    padding:30px 30px;
    justify-content: center;
    align-items: center;
    margin:0 0 0 0;
    
    
}
.login-container{
  background-color: white;
  border-radius: 15px;
  padding: 16px 24px;
  /* width:360px; */
  height:auto;
}

.login-signin-btn{
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.login-footer{
  text-align: center;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 25%;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}



.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
/* [data-popup='tooltip'].popup-overlay {
  background: transparent;
} */

.close{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.spinner1-container {
  position: fixed;
  inset: 0;
  background-color: #f0f0f0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  /* backdrop-filter: blur(); */
  
}

.spinner1 {
  width: 40px;
  height: 40px;
  border: 4px solid #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
